span{
    position: relative;
    height: 100px;
    width: 67px;
    display: flex;
    text-align: center;
    padding-top: 100px;
    margin: 10px auto;
}
span:before {
    border-left: 1px solid grey;
    content: "";
    display: block;
    height: 40px;
    left: 34px;
    position: absolute;
    top: 30px;
    width: 1px;
    z-index: 0;
}
/* 
span:after {
    border-left: 1px solid black;
    content: "";
    display: block;
    height: 67px;
    left: 32px;
    position: absolute;
    top: 123px;
} */


#span{
    background-color: darkgreen;
    display: flex;
    gap: 100px;
    height: 50px;
}
nav{
    display: flex;
    gap: 100px;
    padding: 20px;
}
#landing{
    display: flex;
    gap: 50px;
    background-position: center;
    padding: 30px;
}
.jar{
display: flex;

}

#lotus{
display: flex;
gap: 50px;
padding: 50px;
}

#allPlants{
    display: flex;
    gap: 50px;
    justify-content: center;
    
}
#first-three{
    display: flex;
    gap: 30px;
}
#three-pots{
    display: flex;
    gap: 50px;
}
#svn-img{
    display: flex;
    padding: 20px;
}
#feature{
    text-align: center;
}

#glass{
    display: flex;
    gap: 40px;
    padding: 30px;
    text-align: left;
    justify-content: center;
}
#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70vh;
    text-align: center;
    color: white;
    font-size: 30px;
    

  }
  #first-row{
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  #flowers{
    display: flex;
    gap: 40px;
    padding: 20px;
    
  }

  #people{
    display: flex;
    gap: 100px;
    padding: 30px;
    justify-content: center;

  }

  footer{
    display: flex;
    gap: 80px;
    justify-content: center;
  }